.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-auto-rows: 1fr;
  gap: 14px;
  justify-content: center;
}

@media screen and (min-width: 1280px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fill, 284px);
    gap: 16px;
  }
}

@media screen and (max-width: 1023px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fill, 352px);
    gap: 16px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fill, 288px);
    row-gap: 12px;
    column-gap: 0;
  }
}