.footer__menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

@media  screen and (max-width: 767px) {
    .footer__menu {
    flex-direction: column;
    }
  }