.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 28px 48px 48px 48px;
  font-family: 'Inter', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

@media screen and (min-width: 1280px) {
  .header {
    padding: 28px 48px 56px 48px;
  }
}

@media screen and (max-width: 1023px) {
  .header {
    padding: 28px 24px 48px 24px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding: 16px 16px 48px 16px;
  }
}