.intro {
  padding: 92px 0 92px 48px;
  font-family: 'Inter', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

@media screen and (min-width: 1280px) {
    .intro {
      padding-left: 148px;
    }
}

@media screen and (max-width: 1023px) {
    .intro {
      padding: 88px 24px 88px 24px;
    }
}

@media screen and (max-width: 767px) {
    .intro {
      padding: 64px 16px;
    }
}