.cover__overlay {
  background-color: #2A2C2F;
  opacity: 0.3;
  grid-row: 1/2;
  grid-column: 1/2;
  align-self: stretch;
  z-index: 2;
  width:100%
}

@media screen and (min-width: 1280px) {
  .cover__background {
      max-width: 1184px;
  }
}

.cover__link:hover .cover__overlay {
  opacity: 0.8;
}