.cover__background {
    grid-row: 1/2;
    grid-column: 1/2;
    justify-self: center;
    z-index: 1;
    width: 100%;
    object-fit: contain;
}



@media screen and (min-width: 1280px) {
    .cover__background {
        max-width: 1184px;
    }
}