.place__url-heading {
  color: #AAAAAA;
  margin: 0 0 12px 0;
  padding: 0;
  align-self: end;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  line-height: 1.70;
  letter-spacing: 2px;
}

@media screen and (max-width: 1023px) {
  .place__url-heading {
    line-height: 1.00;
  }
}