.intro__title {
  color: #FFFFFF;
  margin: 0 0 40px 0;
  padding: 0;
  max-width: 690px;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 54px;
  font-weight: 900;
  font-style: normal;
  line-height: 1.07;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%; 
}

@media screen and (max-width: 767px) {
  .intro__title {
    font-size: 32px;
    line-height: 1.09;
  }
}