.intro__title {
  color: #FFFFFF;
  margin: 0 0 40px 0;
  padding: 0;
  max-width: 690px;
  font-size: 54px;
  font-weight: 900;
  font-style: normal;
  line-height: 1.07;
}

@media screen and (max-width: 767px) {
  .intro__title {
    font-size: 32px;
    line-height: 1.09;
  }
}